<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>bitcamp</title>
</head>
<body>
<!-- header section start -->
<div class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="main_logo"><a href="../"><img src="../images/logo.png"></a></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="party/list">운동찾기</a></li>
          <li class="nav-item"><a class="nav-link" href="board/main">커뮤니티</a></li>
          <li class="nav-item"><a class="nav-link" href="shop.html">공지사항</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->
<h1>로그인</h1>

<form action='login' method="post">
<table border='1'>
  <tr>
    <th>이메일</th><td><input name='email' type='email' size='30' 
    value="hong@test.com"
    data-th-value="${email}"></td>
  </tr>
  <tr>
    <th>암호</th><td><input name='password' type='password' size='20'></td>
  </tr>
</table>
<input type="checkbox" name="saveEmail">이메일 저장<br>
<p>
  <button type='submit'>로그인</button>
  <a href='../'>취소</a>
</p>
</form>

</body>
</html>