<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>bitcamp</title>
<meta data-th-if="${member != null}"http-equiv = 'Refresh' content='1; url=../'>
<meta data-th-if="${member == null}"http-equiv = 'Refresh' content='1; url=form'>
</head>
<body>
<!-- header section start -->
<div class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="main_logo"><a href="../"><img src="../images/logo.png"></a></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="party/list">운동찾기</a></li>
          <li class="nav-item"><a class="nav-link" href="board/main">커뮤니티</a></li>
          <li class="nav-item"><a class="nav-link" href="shop.html">공지사항</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->
<h1>로그인</h1>
<p data-th-if="${member != null}">로그인 성공입니다!</p>
<p data-th-if="${member == null}">회원이 존재하지 않습니다!</p>

    <!--  footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
      <div class="container">
         <div class="social_icon">
            <ul>
               <li><a href="#"><img src="images/fb-icon.png"></a></li>
               <li><a href="#"><img src="images/twitter-icon.png"></a></li>
               <li><a href="#"><img src="images/instagram-icon.png"></a></li>
               <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
            </ul>
         </div>
         <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
      </div>
      <!-- copyright section end -->

</body>
</html>