<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header section start -->
<div class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="main_logo"><a href="../"><img src="../images/logo.png"></a></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="party/list">운동찾기</a></li>
          <li class="nav-item"><a class="nav-link" href="board/main">커뮤니티</a></li>
          <li class="nav-item"><a class="nav-link" href="shop.html">공지사항</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- header section end -->
<body>
<form action="insert" method="get">
    <input type="text" name="title"> 제목
    <input type="text" name="writer"> 작성자
    <input type="text" name="content"> 내용
    <button>등록</button>

</form>

</body>
</html>